<?xml version="1.0"?>
<launch>
  <arg name="launch_prefix" default="" /> <!-- set to value="gdbserver localhost:10000" for remote debugging -->
  <arg name="node_namespace" default="apriltags2_ros_continuous_node" />

  <arg name="camera_name" default="/wrist_camera" />
  <arg name="image_topic" default="$(arg camera_name)/rgb/image_rect_color" />
  <arg name="camera_info_topic" default="$(arg camera_name)/rgb/camera_info" />

  <!-- For TF -->
  <arg name="camera_frame" default="wrist_camera_rgb_optical_frame" />

  <!-- Set parameters -->
  <rosparam command="load" file="$(find apriltags2_ros)/config/settings.yaml" ns="$(arg node_namespace)" />
  <rosparam command="load" file="$(find apriltags2_ros)/config/tags_table_setup.yaml" ns="$(arg node_namespace)" />
  
  <node pkg="apriltags2_ros" type="apriltags2_ros_continuous_node" name="$(arg node_namespace)" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)" >
    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image_rect" to="$(arg image_topic)" />
    <remap from="camera_info" to="$(arg camera_info_topic)" />

    <param name="camera_frame" type="str" value="$(arg camera_frame)" />
    <!-- default: false -->
    <param name="publish_tag_detections_image" type="bool" value="true" />
    <!-- default: false -->
    <param name="publish_tf" type="bool" value="true" />
  </node>
</launch>
